<?xml version="1.0"?>
<config>
    <modules>
        <Koleimports_Dropship>
            <version>0.1.0</version>
        </Koleimports_Dropship>
    </modules>

    <global> 
        <models>
            <dropship>
                <class>Koleimports_Dropship_Model</class>
            </dropship>
        </models>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <koleimports_dropship_model_observer>
                        <type>singleton</type>
                        <class>Koleimports_Dropship_Model_Observer</class>
                        <method>handleOrderSubmit</method>
                    </koleimports_dropship_model_observer>
                </observers>
            </checkout_submit_all_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <koleimports_dropship_model_observer>
                        <type>singleton</type>
                        <class>Koleimports_Dropship_Model_Observer</class>
                        <method>handleOrderSuccess</method>
                    </koleimports_dropship_model_observer>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <blocks>
            <adminhtml>
                <rewrite>
                    <catalog_product>Koleimports_Dropship_Block_Adminhtml_Catalog_Product</catalog_product>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <dropship>
                <class>Koleimports_Dropship_Helper</class>
            </dropship>
        </helpers>
    </global>

    <admin>
        <routers>
            <dropship>
                <use>admin</use>
                <args>
                    <module>Koleimports_Dropship_Adminhtml</module>
                    <frontName>dropship</frontName>
                </args>
            </dropship>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <dropship_import>
                <run>
                    <model>dropship/sync::runImport</model>
                </run>
            </dropship_import>
        </jobs>
    </crontab>

    <default>
        <catalog>
            <dropship>
                <enable>0</enable>
                <import_show_btn>0</import_show_btn>
                <cron_expr/>
                <export_on_ordersuccess>0</export_on_ordersuccess>
            </dropship>
        </catalog>
    </default>
</config>